<!doctype html>
<html>

<head>
  <base target="_top">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:image" content="{{ site.baseurl }}/assets/img/og.png">
  <meta property="og:title" content="詮中食品目錄">
  <meta property="og:description" content="當前銷售品項">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="275">
  <meta property="og:image:height" content="221">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <title>{{ page.title }}</title>
</head>

<body>
  <div class="bg"></div>
  <div id="header">
    <div id="navbar">
      <a id="navbar-logo" href="{{ site.baseurl }}/index.html">詮中食品目錄</a>
      <div></div>
    </div>
  </div>
  <div id="card-container">
    <!-- {% for item in site.data.navbar-data %} -->
    <div class="card">
      <a href="{{ site.baseurl }}/{{ item.link }}">{% if page.url==item.url %} &#9654;{% endif %}{{ item.name }}</a>
    </div>
    <!-- {% endfor %} -->
  </div>
  <footer id="footer">
    <div>
      <p>詮中企業有限公司</p>
      <p>CHIUAN JUNG ENTERPRISE CO., LTD.</p>
      <p>負責人: 吳國誠, 聯絡電話: 0932-230-559</p>
    </div>
  </footer>
</body>

</html>